body {
  font-family: 'Lato', sans-serif;
  color: #707070;
}
h1{
  /* font-size: 45px; */
  font-weight: 300;
}
h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 35px;
  color: #233237;
}

h3, h2, h5, h4{
  font-weight: 800;
}

hr {
  border: 2px solid #233237;
  width: 100px;
  margin-top: 25px;
  background: #233237;
}
header hr{
  width: 235px;
}

.img-container1, .img-container2, .img-container3 {
  width: 100%;
  height: 550px;
  background-size: cover;
}

.img-container1 {
  background: url("../img/herosection.jpg") no-repeat center;
}

.img-container2 {
  background: url("../img/herosection2.jpg") no-repeat center;
}

.img-container3 {
  background: url("../img/herosection3.jpg") no-repeat center;
}

.navbar-dark .navbar-nav .nav-link{
  color: rgb(255, 255, 255, .7);
}
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus  {
  color: rgb(255, 255, 255);
}

.navbar-brand img {
  width: 35px;
}
.navbar {
  transition: all 0.4s;
  background: rgba(35, 50, 55,.6);
}

.navbar.active {
  background: rgb(35, 50, 55);
}

.title-header {
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
  margin-top: 85px;
}

.perfil img {
  margin-bottom: 45px;
  width: 190px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.3);
}

.carousel-control-next, .carousel-control-prev {
  z-index: 2;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

.intro-section p {
  font-size: 25px;
  font-weight: 800;
  line-height: 45px;
}

.info-section p {
  font-size: 16px;
  line-height: 45px;
  font-weight: 400;
}

.navbar button {
  border-color: #FFFFFF80 !important;
}
#sobre_mi {
  display: none;
}

.card {
  color: #707070;
  border: 0;
}

#trabajos .card-group a:hover {
  text-decoration: none;
}

#trabajos {
  background: #984b43;
}

.card-flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 30px;
}

.card-flex p {
  font-weight: 300;
  font-size: 25px;
}

.card-flex .card {
  width: auto;
}

.icons-section i {
  font-size: 50px;
  margin: 40px 15px;
  color: #fff;
}

footer {
  padding: 58px;
  margin-top: 70px;
  background: #233237;
}

footer h2 {
  font-size: 39px;
  margin: 0;
}

.title-header h1, .title-header h2 {
  font-size: 45px;
}

@media (min-width: 576px) {
  .title-header h1, .title-header h2 {
    font-size: 54px;
  }
  
  h3 {
    font-size: 52px;
  }

  #sobre_mi {
    display: block;
  }

  .card-flex p {
    font-size: 30px;
  }
  header hr{
    width: 280px;
  }
}

@media (min-width: 768px) {
  .card-flex .card {
    width: 22rem;
  }

  .card-flex {
    flex-direction: row;
  }

  .img-container1, .img-container2, .img-container3 {
    height: 600px;
    background-size: cover;
  }

  .title-header {
    margin-top: 115px;
  }

  .perfil img {
    width: 190px;
    margin-bottom: 60px;
  }

  #trabajos .card {
    height: 410px;
  }
  .icons-section i {
    margin: 15px 15px;
  }
}

@media (min-width: 992px) {

  .img-container1, .img-container2, .img-container3 {
    height: 700px;
    background-size: cover;
  }

  .title-header {
    margin-top: 100px;
  }

  .title-header h1, .title-header h2 {
    font-size: 62px;
  }

  .perfil img {
    width: 260px;
  }
  header hr {
    width: 325px;
  }
}

@media (min-width: 1199px) {
  #trabajos .card {
    height: 420px;
  }
  header hr{
    width: 330px;
  }
}

@media (min-width: 1500px) {

  .img-container1, .img-container2, .img-container3{
    height: 850px;
    background-size: cover;
  }

  .title-header {
    margin-top: 185px;
  }

  .title-header h1, .title-header h2 {
    font-size: 70px;
  }

  .perfil img {
    width: 300px;
  }
  header hr {
    width: 370px;
  }
}