body {
  font-family: 'Roboto', sans-serif;
}
.color-background{
  background: #28a745;
}
.logo img{
  width: 100px;
}
.navbar button{
  border-color: #FFFFFF80 !important;  
}
.card-section{
  margin-top: 65px;
}
.card-body, .card-body h5, .form-control, footer{
  font-weight: 300;
}
.card{
  color: #707070;
}
.card-title, .btn{
  color: #212529;
}
.despription-text{
  font-size: 16px;
}
.direction-text{
  font-size: 14px;
}
.card-body p{
  margin: 0;
}
.info-card{
  height: 50px;
}
.fa-map-marker-alt{
  font-size: 12px;
}
.value1, .value2{
  display: inline-block;
}
.value1{
  font-size: 16px;
}
.value2{
  font-size: 22px;
  font-weight: 500;
  padding-left: 11px;
  color: #28A745;
}
.btn{
  background:#F8F9FA;
  border: 1px solid #DDDDDD;
  padding: 6px 30px;
  border-radius: 4px;
  margin: 0 auto;
}
.form-control{
  border: none;
  border-radius: 4px;
  width: 100%;
}
footer{
  padding: 25px;
  font-size: 14px;
}
footer img{
  width:53px;
}

@media (min-width: 576px) {
  .form-control{
    width: 48% !important;
  }
}
@media (min-width: 768px) {
  .img-principal img{
    height: 207px;
  }
  .title-card{
    height: 84px;
  }
  .form-control{
    width: auto !important;
  }
  .btn{
    margin: 0;
  }
}
@media (min-width: 992px) {
  .img-principal img{
    height: 180px;
  }
}
@media (min-width: 1199px) {
  .img-principal img{
    height: 220px;
  }
}
